<kendo-appbar themeColor="light" positionMode="fixed" class="header">
  <kendo-appbar-spacer width="20px"></kendo-appbar-spacer>

  <kendo-appbar-section>
    <h1 class="title">Ramp Up</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section>
    <button kendoButton fillMode="flat" (click)="logout()" title="Logout">
      <kendo-icon class="icon-export" name="export"></kendo-icon>
    </button>
  </kendo-appbar-section>
</kendo-appbar>
